.todoApp__body {
    padding-bottom: 20px;
    padding-left: 0;
    max-height: 300px;
    overflow-y: auto;
}

.todoApp__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 100%;
    background: #e8e9ea;
    margin: 5px 0;
    border-radius: 5px;
    padding-left: 10px;
}

@media (max-width: 480px) {
    .todoApp__item {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 10px;
        text-align: center;
    }

}





